@model HomeFinance.MVC.ViewModels.FinanceVM

@{
    ViewData["Title"] = "Minhas finanças | Cadastro de dívidas";
} 

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/base/base.css">
<link rel="stylesheet" href="../assets/css/componentes/cabecalho.css">
<link rel="stylesheet" href="../assets/css/componentes/cartao.css">
<link rel="stylesheet" href="../assets/css/cadastra_cliente.css">
<link rel="stylesheet" href="../assets/css/componentes/inputs.css">
<link rel="stylesheet" href="../assets/css/componentes/botao.css">


<body>
    
    <main class="container flex flex--centro flex--coluna">
        <section class="cartao cadastro">
            <h1 class="cartao__titulo">Registre uma nova conta</h1>
            <form class="flex flex--coluna" data-form asp-action="Create" asp-controller="Finances">
                <div class="input-container">
                    <input name="FinanceName" id="FinanceName" class="input" type="text" placeholder="descricao" required
                           data-descricao>
                    <label class="input-label" for="FinanceName">Descrição</label>
                    <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
                </div>
                <div class="input-container">
                    <input name="DueDate" id="DueDate" class="input" type="datetime" placeholder="dueDate" required
                           data-dueDate>
                    <label class="input-label" for="DueDate">Data de vencimento</label>
                    <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
                </div>
                <div class="input-container">
                    <input name="Price" id="Price" class="input" type="text" placeholder="valor" required data-valor>
                    <label class="input-label" for="Price">Valor R$</label>
                    <span class="input-mensagem-erro">Esse campo não pode estar vazio</span>
                </div>
                <button type="submit" class="botao">
                    Cadastrar
                </button>
            </form>
        </section>
    </main>
</body>

