
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Dívidas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .error-message {
            color: #d9534f;
        }

        .message {
            font-size: 1.2rem;
        }

        .btn {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #337ab7;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="error-message">Nenhuma dívida cadastrada</h1>
        <p class="message">No momento, não há dívidas cadastradas em nosso sistema.</p>
        <a href="@Url.Action("BuscarTodasFinancas", "Finances")" style="font-size: 15px; white-space: nowrap;">Ver todas as contas</a>
        <a class="btn" asp-action="Create">Cadastrar</a>
    </div>
</body>
</html>


